.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
share-web/bin/
share-web/target/
share-client/node/*
node_modules/
target/
.angular/
dist/
*.log
.DS_Store
.vscode/
.idea/
*.iml
.classpath
.project
.settings/
.factorypath
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
build/
out/
*.tmp
*.temp
*.md
