.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
share-web/bin/
share-web/target/
node_modules/
target/
.angular/
dist/
*.log
.DS_Store
.vscode/
.idea/
*.iml
.classpath
.project
.settings/
.factorypath
